html, body {
    height: 100%;
    margin: 8px;
}

.fileUpload {
    flex-flow: column;
    width: 100%;
    display: flex;
    height:100%;
    flex: 0 1 auto;
}

.citationList {
    float: right;
    width: 70%;
}

.citationHistory {
    float: left;
    width: 30%;
}

.body {
    width: 100%;
    flex: 1 1 auto;
}

.removeHistory {
    margin-left: 15px;
}

.deleteButton {
    margin-left: 16px;
}

.deleteButton:hover {
    cursor: pointer;
}
footer {
    flex: 0 1 40px;
}

