<!doctype html>
<title>Lexis Citation Scraper</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript"
        src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">window.jQuery ||
document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
        </script>
<script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
        $(function() {
            $('.body').on('click', '.citationLink', function(index) {
                var citationLinkLookup = 'a.citationLink';
                $.ajax({
                        url: $SCRIPT_ROOT + '/' + $( this ).text(),
                        type: 'GET',
                        success: function(result) {
                            refreshContent(result)
                        }
                  });
            });

            $('.body').on('click', '.citationDelete', function(index) {
                $.ajax({
                        url: $SCRIPT_ROOT + '/' + $( this ).siblings('.citationLink').text(),
                        type: 'DELETE',
                        success: function(result) {
                            refreshContent(result)
                        }
                 });

            });
        });

        function refreshContent(content) {
            $('div.citationContent').replaceWith(content);
        }

</script>

<div class="fileUpload">
        <h1>Please upload a docx file with Lexis citations</h1>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('uploadFile') }}" ><input type="file" name="file"/><input type="submit" value="Go!"></form>

        {% block body %}
                <div class="body">
                        {% include 'show_citations.html' %}
                </div>
        {% endblock %}

        <footer>
            <div>Icons made by <a href="http://www.flaticon.com/authors/pavel-kozlov" title="Pavel Kozlov">Pavel Kozlov</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>
</div>

