    <div class="citationContent">

        <div class="citationHistory">
            {% if session.history|length == 0 %}
                <h3>No file history</h3>
            {% else %}
                <h3>Citation History</h3>
                {% for file, citationList in session.history.items() %}
                    <div class="citationEntry">
                        <a class="citationLink" href="" onclick="return false;">{{ file }}</a>
                        <a class="citationDelete" href="" onclick="return false;">
                            <img class="deleteButton" src="{{ url_for( 'static', filename='delete-button.png' ) }}">
                        </a>
                        <br />
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="citationList">

            <h3>{{headerText}}</h3>

            {% for citation in citations %}
                <a href="{{ citation.url }}" target="_blank">{{ citation.name }}</a>
                <br />
            {% endfor %}
    </div>
</div>
